@font-face {
  font-family: YekanBakh;
  font-weight: bold;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Bold.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-weight: 100;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-weight: 200;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Thin.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-weight: 300;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Light.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-weight: 400;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Regular.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-weight: 500;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Medium.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-weight: 600;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Bold.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-weight: 700;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-weight: 800;
  font-style: normal;
  src: url('@/assets/fonts/YekanBakh/YekanBakh-Fat.ttf') format('truetype');
}
