$primary: #ff003d;
$secondary: #1894ff;

.button-secondary {
  background-color: $secondary !important;
  border: 1px solid $secondary !important;

  &:disabled {
    background-color: #f6f6f6 !important;
    border: 1px solid #e2e2e2 !important;
  }
}

.ant-switch-checked {
  background-color: $secondary !important;
}

:export {
  secondaryColor: $secondary;
}
